.addNavbar {
  display: flex;
  background-color: #333; 
  color: #fff;
  padding: 10px 20px; 
}

.addNavbar a {
  text-decoration: none;
  color: inherit; 
  margin-right: 20px; 
}

.addNavbar a:hover {
  text-decoration: underline;
}
.addForm-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .addForm-title {
    text-align: center;
  }
  
  .addForm-group {
    margin-bottom: 20px;
  }
  
  .addForm-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .addForm-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea.addForm-input {
    height: 150px; /* Adjust the height of the textarea */
  }
  
  .addSubmit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addSubmit-button:hover {
    background-color: #45a049;
  }
  .addError-message {
    color: red;
  }