.delProblem-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .delTitle {
    flex: 1;
  }
  
  .delDifficulty {
    margin-right: 20px;
  }
  
  .delLinks {
    display: flex;
  }
  
  .delLink {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .delLink:hover {
    text-decoration: underline;
  }
  
  .delDelete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delDelete-button:hover {
    background-color: #c82333;
  }
  .delError-message{
    color: red;
  }
  