.homeContainer {
  display: flex;
  flex-direction: column;
}

.homeNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
  padding: 10px;
}

.homeNavbar-link {
  margin-right: 20px;
}

.homeNavbar-link a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.homeNavbar-link:hover {
  text-decoration: underline;
}

.homeForm-title {
  margin: 0;
  font-size: 18px;
}

.homeSubmit-button {
  background-color: #007bff; /* Change button color as needed */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.homeSubmit-button:hover {
  background-color: #0056b3; /* Change button hover color as needed */
}

h1 {
  margin-top: 0;
  padding: 20px;
}

.leftLinks {
  display: flex;
}

.rightLinks {
  display: flex;
}
