.homeContainer {
  text-align: center;
}

.homeNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; /* Change the background color as needed */
  padding: 10px 20px;
}

.leftLinks, .rightLinks {
  display: flex;
}

.homeNavbar-link {
  margin-right: 20px; /* Adjust spacing between links */
}

.homeNavbar-link a {
  text-decoration: none;
  color: #333; /* Link color */
}

.homeNavbar-link a:hover {
  color: #666; /* Link color on hover */
}

.homeForm-title {
  margin-right: 10px; /* Adjust spacing between title and button */
}

.homeSubmit-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.homeSubmit-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
