.homeContainer {
  text-align: center;
}

.homeNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; 
  padding: 10px 20px;
}

.leftLinks, .rightLinks {
  display: flex;
}

.homeNavbar-link {
  margin-right: 20px; 
}

.homeNavbar-link a {
  text-decoration: none;
  color: #333; 
}

.homeNavbar-link a:hover {
  color: #666; 
}

.homeForm-title {
  margin-right: 10px; 
}

.homeSubmit-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  
}

.homeSubmit-button:hover {
  background-color: #0056b3; 
}
.homeOjPic {
  display: flex;
  align-items: center; 
}

.homeOjPic p {
  flex: 1; 
}
.homeFlex{
  display: flex;
  align-items: center;
}
