.probsNavbar {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding */
}

.probsNavbar a {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit text color from parent */
}

.probsNavbar a:hover {
  text-decoration: underline; /* Underline on hover */
}

.SearchFilter {
  margin-bottom: 20px;
}

.probForm-label {
  display: inline-block;
  margin-bottom: 5px;
}

.probsSelectDifficulty {
  width: 200px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.probsSelectDifficulty option {
  padding: 8px;
}

.probsProblems-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .probsSection-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .probsAdd-link {
    margin-bottom: 20px;
  }
  
  .probsAdd-link a {
    text-decoration: none;
    color: #007bff; /* Link color */
  }
  
  .probsAdd-link a:hover {
    text-decoration: underline;
  }
  
  .probsProblem-list {
    list-style: none;
    padding: 0;
  }
  
  .probsProblem-list li {
    margin-bottom: 10px;
  }
  
  .probsProblem-list li a {
    text-decoration: none;
    color: #333; /* Link color */
  }
  
  .probsProblem-list li a:hover {
    text-decoration: underline;
  }
  
  