.upForm-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .upForm-group {
    margin-bottom: 20px;
  }
  
  .upForm-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .upForm-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea.upForm-input {
    height: 150px;
  }
  
  .upSubmit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upSubmit-button:hover {
    background-color: #45a049;
  }
  .upError-message{
    color: red;
  }
  